.formulario {
  padding: 8px;
box-shadow: 2px 0px 5px 13px rgba(249,249,41,0.75);
-webkit-box-shadow: 2px 0px 5px 13px rgba(249,249,41,0.75);
-moz-box-shadow: 2px 0px 5px 13px rgba(249,249,41,0.75);
  background: -webkit-linear-gradient(90deg,#291d53,#4d1740,#5a1e2d); /* Chrome 10-25, Safari 5.1-6 */ background: linear-gradient(90deg,#291d53,#4d1740,#5a1e2d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}

.botonConsultar {
  background-color: green;
  border-radius: 10px;
  border: none;
  color: white;
  padding: 2px;
  width: 100px;
}

.card {
box-shadow: 1px 0px 14px 11px rgba(239,239,239,1);
-webkit-box-shadow: 1px 0px 14px 11px rgba(239,239,239,1);
-moz-box-shadow: 1px 0px 14px 11px rgba(239,239,239,1);
}
